.main
  .row
    .footer__logo.col-md-1.order-first
      img(src='/img/logo-green.png', alt='Natours logo')
    .footer__nav.col-md-3.order-last
      li: a(href='#') About us
      li: a(href='#') Download apps
      li: a(href='#') Become a guide
      li: a(href='#') Careers
      li: a(href='#') Contact
    p.footer__copyright.order-last &copy; by Ahmed Gamal.